<section class="container">
  <form class="formulario"  (ngSubmit)="novoDestino()">
    <h2 class="formulario_titulo">Novo Destino</h2>
  
    <div class="form-field">
      <label class="form-field_label" for="nome">Nome</label>
      <input 
        type="text" 
        id="nome"
        name="nome"
        class="form-field_input" 
        [(ngModel)]="nome"
      />
    </div>
  
    <div class="form-field">
      <label class="form-field_label" for="sobrenome">Sobrenome</label>
      <input 
        type="text" 
        id="sobrenome"
        name="sobrenome"
        class="form-field_input" 
        [(ngModel)]="sobrenome"
      />
    </div>
  
    <div class="form-field">
      <label class="form-field_label" for="conta">Conta</label>
      <input 
        type="text" 
        id="conta"
        name="conta"
        class="form-field_input" 
        [(ngModel)]="conta"
      />
    </div>

    <div class="botao-wrapper">
      <button class="botao" type="submit">Cadastrar</button>
    </div>
  </form>
</section>
